/* 全局样式的css文件 */

html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
}

.el-card {
    box-shadow: rgba(0, 0, 0, .3)!important;
}

.el-breadcrumb {
    margin-bottom: 35px;
}

.el-scrollbar__wrap {
    height: 450px!important;
}